# Framework Django
Django==4.2.27
django-filter==21.1
djangorestframework==3.15.1
drf-yasg==1.21.14

# ASGI
asgiref==3.8.1
uvicorn[standard]

# Base de datos PostgreSQL
psycopg2-binary==2.9.9

# Authentication
djangorestframework-simplejwt==5.5.1
